body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: var(--lightGray);
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyanLight: #4ABEBD;
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

.container {
    margin: 100px auto;
    max-width: 700px;
    box-shadow: 0px 6px 16px 0px rgba(156,156,156,1);
    border-radius: 20px;
    background-color: transparent;
}

.card {
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "card-1 card-2";
}

.card__wrapper {
    padding: calc(40px - 0.67em) 40px calc(40px - 1em) 40px;
    grid-area: header;
}

.card__header h1 {
    color: var(--cyan);
}

.card__header h4 {
    color: var(--brightYellow);
    font-size: 1.2em;
}

.card__header p {
    color: var(--grayishBlue);
    font-size: 1.1em;
    line-height: 1.5em;
}

.subscription {
    grid-area: card-1;
    background-color: var(--cyan);
    border-bottom-left-radius: 10px;
}

.sub__wrapper {
    padding: 20px 40px 40px 40px;
}

.sub__wrapper h4 {
    color: var(--lightGray);
    font-size: 1.3em;
} 

.subscription .price-info {
    display: flex;
    align-items: center;
}

.subscription .price {
    font-size: 2.5em;
    font-weight: 700;
    margin-right: .3em;
    color: white;
}

.subscription .period {
    color: var(--lightGray);
    font-size: 1.1em;
}

.subscription p {
    color: var(--lightGray);
    font-size: 1.12em;
}

.subscription button {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 15px;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 1.16em;
    font-weight: 700;
    color: white;
    background-color: var(--brightYellow);
    box-shadow: 0px 11px 20px -4px rgba(66, 66, 66, 0.411);
}

.why {
    grid-area: card-2;
    background-color: var(--cyanLight);
    border-bottom-right-radius: 10px;
}

.why ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.why ul li {
    color: var(--lightGray);
    font-size: 1.1em;
    line-height: 1.4em;
}

footer {
    text-align: center;
    width: 100%;
}

@media (max-width: 992px) {

    .container {
        margin: 30px auto;
    }

    .card {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "card-1"
        "card-2";
    }

    .card__wrapper {
        padding: 20px;
    }

    .card__header h1 {
        font-size: 1.3em;
    }

    .card__header h4 {
        font-size: 1em;
    }

    .card__header p {
        font-size: .9em;
        line-height: 2em;
    }

    .subscription {
        border-bottom-left-radius: 0px;
    }

    .subscription button {
        font-size: 1em;
    }

    .sub__wrapper {
        padding: 20px;
    }

    .sub__wrapper h4 {
        font-size: 1.3em;
    }

    .why {
        border-bottom-left-radius: 10px;
    }

    footer {
        font-size: .9em;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 30px 25px;
    }
}